body{
    background-color: azure;
}
h1, h2,
  .p {
    text-align: center;
}
h1{
    font-size: 60px;
    text-decoration: underline;
}
.img2,
  .img3{
    position: absolute;
    top: 10px;
  }
.img2{
    width: 165px;
    height: 165px;
    left: 0px;
}
.img3{
    width: 150px;
    height: 150px;
    right: 5px;
}
.titre{
    text-decoration: underline;
}